
<<<<<<< HEAD
*{
    margin: 0;
}

#title{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

#display-box{
    height: 80px;
    width: 400px;
    border-radius: 10px;
    font-size: 50px;
}
#container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.btn{
    width:100px;
    padding: 20px;
    font-size: 40px;
    border-radius: 10px;
}

.zero-btn{
    width: 200px;
}

=======
>>>>>>> cc84348faab6b387cb713ef78e034953a7bfe9cb
